.candidate-summary{

}
.candidate-summary table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
.candidate-summary th, td {
    text-align: left;
    padding: 8px;
}  
.candidate-summary tr:nth-child(even){
    background-color: #f2f2f2
}