.reset-password-c{
    max-width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;

}
.reset-password-c .MuiButton-contained{
    margin-top: 16px !important;
}